h1 {
    color:darkblue;
    display:flex;
justify-content: center;

}
h2{
    color:darkblue;
    display:flex;
justify-content: center;
margin-top: 50px;
}
h3{
backGround:lightblue;
display:flex;
justify-content: center;
}
* {
    border: solid;
}



.header2{
    display:flex;
    justify-content: center;

}
.order{
    display:flex;
    justify-content: center;

}



body{
background-color:rgb(245, 212, 242);
}